[*]
end_of_line = crlf

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = true

[*.xml]
indent_style = space

[*.cs]

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = true
dotnet_diagnostic.IDE0090.severity = suggestion

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none
